<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

  <servlet>
    <servlet-name>AppListDev</servlet-name>
    <servlet-class>servlets.AppListDevServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>AppListUser</servlet-name>
    <servlet-class>servlets.AppListUserServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>AppDetail</servlet-name>
    <servlet-class>servlets.AppDetailServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AppSearch</servlet-name>
    <servlet-class>servlets.SearchServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AppAdd</servlet-name>
    <servlet-class>servlets.AppAddServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AppAddResult</servlet-name>
    <servlet-class>servlets.AppAddResultServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AppEdit</servlet-name>
    <servlet-class>servlets.AppEditServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AppUpdate</servlet-name>
    <servlet-class>servlets.AppUpdateServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AppDelete</servlet-name>
    <servlet-class>servlets.DeleteServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AppListDev</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AppListUser</servlet-name>
    <url-pattern>/app_list_user</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AppDetail</servlet-name>
    <url-pattern>/app_detail</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AppSearch</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AppAdd</servlet-name>
    <url-pattern>/appaddform</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AppAddResult</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AppEdit</servlet-name>
    <url-pattern>/app_edit</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AppUpdate</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AppDelete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>

</web-app>
