.db-table {
	border-collapse: collapse;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
}
.db-table tr {
	border-bottom: 1px solid #CCC;
}

.db-table td, .db-table th {
	padding: 10px 35px;
	font-weight: normal;
}
.db-table thead tr {
	background-color: white;
	color: #888;
}
.db-table tbody tr {
	background-color: white;
}

.db-table tbody tr:hover {
	background-color: #32e574;		/* accent color */
	color: white;
}

.blue-button, .red-button, .button-delete-item {
	color: white;
	border: none;
	transition: background-color 0.2s;
}
.blue-button, .red-button {
	font-size: 12px;
	padding: 7px 16px;
	box-shadow: 0 2px 3px 0px rgba(0,0,0,0.3);
	margin : 20px 0;
}
.blue-button {
	background-color: #195bcc;
}
.blue-button:active {
	background-color: #4984e9;
}
.blue-button[disabled] {
	opacity: 0.6; 
}
.red-button {
	background-color: #CC1919;
}
.red-button:active {
	background-color: #E94949;
}
.button-delete-item {
	padding: 0;
	font-size: 13px;
	line-height: 20px;
	width: 20px;
	height: 20px;
	margin: 0;
	border-radius: 50%;
	background-color: #cc1919;
}

span, input {
	display: block;
}

span.label {
	font-weight: normal;
	font-size: 12px;
	color: #888;
	margin: 15px 0 0 0;
}
span.value {
	font-size: 16px;
	margin: 5px 0;	
}
form input, form textarea {
	border: none;
	border-bottom: solid 2px #CCC;
	background-color: transparent;
	outline: none;
	font-size: 16px;
	margin: 5px 0;
	transition: border-color 0.3s;
}
input:focus, textarea:focus {
	border-color: #17b551;
}

select {
	font-size: 16px;
	border-radius: 0;
    border: none;
}

textarea {
	width: 300px;
	height: 100px;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-color: #fcfcf9;
}

#header {
	background: #ccc;
	height: 100px;
}

#header h1 {
	margin: 0;
}

#wrapper {
	margin: 0 auto;
	min-width: 800px;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	min-height: 100%;
}

#main {
	/*float: left;*/
	padding: 20px 50px;
}

#nav {
	/*float: left;*/
    width: 220px;
    background: #333;
    color: white;
    padding: 0;
    font-weight: normal;
}

#nav-wrapper {
	position: fixed;
}

.search-box * {
	display: inline;
	margin: 0;
	vertical-align: middle;
}
.search-box i {
	color: #BBB;
}

#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#nav h3 {
	padding: 6px 30px;
	margin: 20px 0 0 0;
	color: #CCC;
	font-weight: normal;
	font-size: 13px;
}

#nav ul li {
	margin: 0;
	padding: 6px 30px;
}

a:link {
	text-decoration: none;
}
a:link {
	color: inherit;
}
a:visited {
	color: inherit;
}
a:hover {
	color: inherit;
}

input {
	font-size: 100%;
}

#popup {
	overflow: auto;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;	/* will be changed to flex using js */
	justify-content: center;
	align-items: flex-start;
	background: rgba(0, 0, 0, 0.5);
	z-index: 100;
}

#popup-content {
	overflow: auto;
	width: 500px;
	padding: 20px 70px;
	background-color: #FFF;
	margin: 10px 0;
	line-height: 2.0;
	box-shadow: 0 0 30px 0 rgba(0,0,0,0.4);
}

.cart-button {
	position: fixed;
	right: 30px;
	bottom: 30px;
	width: 60px;
	height: 60px;
	display: block;
	background-color: #32e574;
	color: white !important;
	border-radius: 50%;
	text-align: center;
	box-shadow: 0 7px 10px 0 rgba(0,0,0,0.3);
}

.cart-button i {
	position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
	font-size: 24px;
}

.cart-button .cart-count {
	position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    font-size: 8px;
}